@import "partials/settings";
@import 'foundation/components/grid';
@import 'foundation/components/buttons';
@import 'foundation/components/dropdown';
@import 'foundation/components/top-bar';
@import 'foundation/components/visibility';
@import 'foundation/components/side-nav';

body{
  background: aqua;
}
.main-header{
  background: blue;
}
.content{
  background: brown;
}
.main-nav{
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: purple;
  overflow-y: auto;
  transition: width 0.3s ease;

  a {
    display: block;
    background: linear-gradient(#3E3E3E, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    color: white;
    text-decoration: none;
    padding: 15px;
    &:hover, &:focus {
      background: linear-gradient(#484848, #383838);
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 34px;
    background: linear-gradient(left, rgba(black, 0), rgba(black, 0.4));
  }
  p {
    display: block;
    background: linear-gradient(#3E3E3E, #A4A4A4);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    color: white;
    text-decoration: none;
    padding: 15px;
  }
}
.close-menu {
  display: none;
}
.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}
#main-nav:target {
  width: 30%;
}
#main-nav:target + .page-wrap {
  width: 70%;
  .open-menu {
     display: none;
  }
  .close-menu {
     display: block;
  }
  .main-header {
    width: 70%;
    left: 30%;
  }
}
#jobDetails{
  display: none;
    p {
    display: block;
    background: red;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    color: white;
    text-decoration: none;
    padding: 15px;
  }
}
#jobDetails:target{
  display: block;

}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
  height: 100px;
}
#salary-bar{
  background: green;
}
#map{
  background: brown;
}
#list{
  background: gray;
}
#footer{
  background: yellow;
}
// Filter Bar
#filter-bar{
  padding-top: 30px;
  background: white;
}
.jobCat{
  text-align: center;
}

* {
  box-sizing: border-box;
}

#apply{
  margin-bottom: none;
}