@import "partials/settings";
@import 'foundation/components/grid';
@import 'foundation/components/buttons';
@import 'foundation/components/dropdown';
@import 'foundation/components/top-bar';
@import 'foundation/components/visibility';
@import 'foundation/components/side-nav';



body{
  background: aqua;
}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
  height: 100px;
}
#salary-bar{
  background: green;
}
#map{
  background: brown;
}
#list{
  background: gray;
}
#footer{
  background: yellow;
}

// Filter Bar
#filter-bar{
  padding-top: 30px;
  display: inline-block;
  background: white;
}
