
extends ./layouts/mainLayout
include ./mixins/templater

block content
  h2 Rental Prices

  ul(id="rent-prices")
    +listGroupData(leases)

  h2 Rental Density

  ul(id="rent-density")
    +listGroupData(rents)

  //- h2 Home Prices

  //- ul(id="home-prices")
  //-   +listGroupData(prices)

  //- h2 Home Density

  //- ul(id="home-density")
  //-   +listGroupData(homes)

  h2 Job Listings

  ul(id="job-listings")
    +listUniqueData(jobs)
