
extends ./layouts/mainLayout
include ./mixins/templater

block content
  h2 Job Density

  ul(id="job-densities")
    +listGroupData(densities)

  h2 Job Listings

  ul(id="job-listings")
    +listUniqueData(jobs)

  h2 Home Prices

  ul(id="home-prices")
    +listGroupData(prices)

  h2 Home Listings

  ul(id="home-listings")
    +listUniqueData(sales)
